<template>
  <div class="system-log"><slot /></div>
</template>

<style>
.system-log {
  font-family: monospace;
  background-color: #111;
  color: #0f0;
  padding: 1rem;
  border-left: 4px solid #0f0;
  border-radius: 8px;
  margin: 1rem 0;
  box-shadow: 0 0 10px #0f0a;
  white-space: pre-wrap;
}
</style>